.audit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.audit_image-wrapper {
  flex: 1;
}

.audit_image {
  background-size: contain;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  position: relative;
  
}