.audit {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 15px;
}


.audit_element {
  padding: 5px;
}

.audit_counter {
  font-size: 25px;
  font-weight: 600;
  text-shadow: 2px 2px 5px #003b28;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audit_image-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.audit_image-background {
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: 0;
  opacity: .88;
}

.audit_image {
  width: 340px;
  height: 340px;
  object-fit: scale-down; 
  z-index: 1;
}

.audit_button-wrapper {
  display: flex;
  flex-flow: column;
}
.audit_button {
  padding: 10px;
  margin: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: inherit;
}