.audit {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 15px;
}

.audit_image-wrapper {
  width: 340px;
}

.audit_element {
  padding: 5px;
}

.audit_counter {
  font-size: 25px;
  font-weight: 600;
  text-shadow: 2px 2px 5px #003b28;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audit_image {
  background-size: contain;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  position: relative;
  
}

.audit_button-wrapper {
  display: flex;
  flex-flow: column;
}
.audit_button {
  padding: 10px;
  margin: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: inherit;
}