$green: #7ac142;
$red: #ff6666;

.icon-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &.neutral {
    .checkmark_circle {
      stroke: $green;
      animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
    }
    .checkmark {
      box-shadow: inset 0px 0px 0px $green;
      animation: fill 0.4s ease-in-out 0.4s forwards, scale-fail 0.3s ease-in-out 0.9s both;
      &.small {
        animation: fill-small 0.4s ease-in-out 0.4s forwards, scale-fail 0.3s ease-in-out 0.9s both;
      }
    }
    .checkmark_check {
      animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    }
  }
  &.fail {
    .checkmark_circle {
      stroke: $red;
      animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
    }
    .checkmark {
      box-shadow: inset 0px 0px 0px $red;
      animation: fill-fail 0.4s ease-in-out 0.4s forwards, scale-fail 0.3s ease-in-out 0.9s both;
      &.small {
        animation: fill-fail-small 0.4s ease-in-out 0.4s forwards, scale-fail 0.3s ease-in-out 0.9s both;
      }
    }
    .checkmark_check {
      animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    }
  }
}

.checkmark_circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: $green;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px $green;
  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
  &.small {
    width: 56px;
    height: 56px;
    animation: fill-small 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
  }
}

.checkmark_check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 60px $green;
  }
}

@keyframes fill-small {
  100% {
    box-shadow: inset 0px 0px 0px 30px $green;
  }
}

@keyframes scale-fail {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill-fail {
  100% {
    box-shadow: inset 0px 0px 0px 60px $red;
  }
}

@keyframes fill-fail-small {
  100% {
    box-shadow: inset 0px 0px 0px 30px $red;
  }
}
